.container{
    width: 1200px;
    font-size: 24px;
    margin: 40px 0 auto;
    padding: 10px 0;
}

header{
    text-align: right;
    background-color:blue ;
    color: white;
}
header.container{
    background-color: blue;
}
h1{
    margin: 0;
}
h3{
    margin: 0;
    color: blue;
}
h4{
    margin: 0;
    color: yellow;
}
.avatar img{
    width: 250px;
}
.contacts ul{
    list-style: square;
}

.exp b{
    color: brown;
}
.skills dt{
    color: white;
    background-color:grey;
}